# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# OS system files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/

# Logs & temp files
*.log
*.tmp

# Build artifacts
build/
dist/
*.spec

# PyInstaller cache
*.spec

# Mac icon build folders (optional)
MyIcon.iconset/

# Test cache (optional)
pytest_cache/
.coverage
