# Python cache files
__pycache__/
*.pyc
*.pyo

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# virtual environment
venv/

# temp-files
*.log
*.tmp

# Ignore build artifacts
build/
dist/
*.spec

# Ignore MyIcon.iconset folder
MyIcon.iconset/